<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>TheMovieClips Movie Trailers</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>https://www.themovieclips\.com/.+</string>
			</array>
		</dict>
	</dict>
	<key>Search</key>
	<dict>
		<key>TheMovieClips Movie Trailers</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.tmc</string>
		</dict>
	</dict>
</dict>
</plist>